<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs')%>
    <link rel="stylesheet" href="../css/styles_cargar_productos.css">
<body>
    <%- include ('./partials/header.ejs')%>
 
   <!--Formulario de registro de la pagina-->
           <main>  
   <form action="/products" method="POST" class="create-form" enctype="multipart/form-data">
           <div>
       <h1 id="titulo">Crear producto</h1>
      <!-- <p id="subtitulo">Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</p>-->
   </div>
   <fieldset class="grupo"> 
      <div class="campo">
       <label for="nombre"><strong>Nombre del producto:</strong></label>
       <input type="text" name="name" id="nombre" placeholder="Ej.: Café Coffea origen 200g">
       <% if (locals.errors && errors.name) { %>
        <div class="text-danger"> <%= errors.name.msg %> </div>
        <% } %>
   </div>
  
     <div class="campo">
       <label for="precio"><strong>Precio:</strong></label>
       <input type="number" name="price" id="precio" placeholder="$5000">
       <% if (locals.errors && errors.price) { %>
        <div class="text-danger"> <%= errors.price.msg %> </div>
        <% } %>
     </div>
     <br>

    <div class="campo">
       <label for="descripción"><strong>Descripción:</strong></label>
       <textarea name="description" id="descripción" placeholder="Escriba la descripción"  ></textarea>
       <% if (locals.errors && errors.description) { %>
        <div class="text-danger"> <%= errors.description.msg %> </div>
        <% } %>
    </div>
   

    <div class="campo">
        <label class="imagen-producto">Elegí la foto del producto</label>        
        <input type="file" name="image">
        <% if (locals.errors && errors.image) { %>
            <div class="text-danger"> <%= errors.image.msg %> </div>
            <% } %>
    </div>
 
   <div>
       <button  type="submit" class="boton">CREAR</button>
       <button  type="reset" class="boton">BORRAR</button>
   </div>
</fieldset>

   </main>
       </form>
 
       <!--Footer del formulario de registro de la pagina -->
 
       <%- include ('./partials/footer.ejs')%>
    
</body>

</html>